@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 

}

body {

    background-color: #fff;
    background-size: cover;
    height: auto;
    text-align: center;

   
}
.banner-area{
    width: 100%;
    height: 900px;
    position: fixed;
    top: 100px;
    background-image: url('Formülasyon-Ilaçlar.jpg')!important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size:cover; 
    background-position: center center;
}

 .content-area{
     width: 100%;
     position: relative;
     top: 450px;
     background: #ddd;
    
 } 
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20%;
    padding-bottom: 5%;
}

.card {
    position: relative;
    background: #fff;
    max-width: 350px;
    width: 350px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.card-image {
    max-height: 200px;
    overflow: hidden;
}

.card-image img {
    max-width: 100%;
    height: auto;
    visibility: hidden;
    background-size: cover;
    
}

.card-title span {
    visibility: hidden;
}

.card-description span {
    visibility: hidden;
}

.card-mediaIcons a i {
    visibility: hidden;
}

.card-info {
    position: relative;
    color: #222;
    padding: 20px;
}
.card-info a {
text-decoration: none;
}
.card-info a h3:hover{
    color: #999 !important;
    transition: color 0.3s ease;
}
.card-info  a h3 {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 10px;
    color: #222;
  
}

.card-info .card-mediaIcons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-info .card-mediaIcons a {
    color: #999;
    font-size: 0.8em;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease;
}

.card-info .card-mediaIcons a:hover {
    color: #222;
}

.loading {
    position: relative;
    background: #e2e2e2;
    overflow: hidden;
}

.loading:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transform: translateX(-100%);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

h1 {
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.footer{
 padding: 40px 0;
 background-color: #fff;
top: 0;
}
.footer .social {
 text-align: center;
 padding-bottom: 15px;
 color: #4b4c4d;
}
.footer .social a{
 font-size: 24px;
 color: inherit;
 border: 1px solid #ccc;
 width: 40px;
 height: 40px;
 line-height: 38px;
 display: inline-block;
 text-align: center;
 border-radius: 50%;
 margin: 0 8px;
 opacity: 0.75;
}
.footer .social a:hover{
 opacity: 0.9;
}
.footer ul{
 margin-top: 0;
 padding: 0;
 list-style: none;
 font-size: 18px;
 line-height: 1.6;
 margin-bottom: 0;
 text-align: center;
}
.footer ul li a{
 color: #fff;
 text-decoration: none;
 opacity: 0.8;
}
.footer ul li{
 display: inline-block;
 padding: 0 15px;
}
.footer ul li a:hover{
 color: #aaa;
}
.footer ul li a img{
 width: 40px;
 height: 40px;

}
     